{% extends "base/wordList_base.html" %}
{% block body %}
<h2>単語を登録する</h2>
<form action="" method="POST">
   {% csrf_token %}
   <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">{{ form.word }}</label>
      <label for="exampleInputEmail1" class="form-label">{{ form.meaning }}</label>
      <label for="exampleInputEmail1" class="form-label">{{ form.note }}</label>
   </div>
   <!-- <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">{{ form.word }}</label>
      <label for="exampleInputEmail1" class="form-label">{{ form.meaning }}</label>
      <label for="exampleInputEmail1" class="form-label">{{ form.note }}</label>
   </div> -->
   <div>
      <p id="found_meaning">{{ foundmeaning }}</p>
   </div>
   <div class="button">
      <button type="submit" name="create">登録</button><br>
      <button type="button" onclick="reflect_meaning()">反映</button>
      <button type="submit" name="search">検索</button>
   </div>
</form>

{% endblock %}