{% extends "base/wordList_base.html" %}
{% block body %}

<h2>単語を勉強する</h2>


<form action="" method="POST">
   {% csrf_token %}
   <div>
      <h4>{{ card.word }}</h4>
      <h5>{{ card.meaning }}</h5>
      <!-- <label name="refer" onclick="">反映</button> -->
      <input type="text" name="id" value="{{ card.id }}">
   </div>
   <div class="button">
      <button type="submit" name="correct">OK</button><br>
      <button type="submit" name="incorrect">NG</button>
   </div>
</form>


{% endblock %}